/* Write your CSS here */
.Footer-container {
  background-color: #cbd5e1;
  color: #475569;
  font-family: 'Roboto';
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-bottom: 5px;
}
@media (min-width: 768px) {
  .Footer-container {
    padding: 10px;
    font-size: 18px;
  }
}
